<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/main.css">
    <title>template</title>
</head>

<body>
    <h1>Eisenhower Matrix To-Do List</h1>
    <div class="container">
        <div class="all-tasks">
            <h2>All Tasks</h2>
            <ul id="all-tasks-list">
                <li class="tasks-list-item">
                    <div class="list-item-container">
                        <h3 class="list-item-title">Task1</h3>
                        <p class="list-item-description">Wash my feet</p>
                        <div class="list-item-controllers">
                            <label for="complete-checkbox">Done
                                <input type="checkbox" class="complete-checkbox" id="complete-checkbox"
                                    name="complete-checkbox">
                            </label>
                            <button class="edit-btn">Edit</button>
                            <button class="delete-btn">Delete</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="matrix">
            <div class="quadrant urgent-important">
                <h2>Urgent & Important</h2>
                <ul id="urgent-important-list">
                    <li>Task 1: Finish project report</li>
                </ul>
            </div>

            <div class="quadrant not-urgent-important">
                <h2>Not Urgent & Important</h2>
                <ul id="not-urgent-important-list">
                    <li>Task 3: Plan vacation</li>
                </ul>
            </div>

            <div class="quadrant urgent-not-important">
                <h2>Urgent & Not Important</h2>
                <ul id="urgent-not-important-list">
                    <li>Task 2: Call client</li>
                </ul>
            </div>

            <div class="quadrant not-urgent-not-important">
                <h2>Not Urgent & Not Important</h2>
                <ul id="not-urgent-not-important-list">
                </ul>
            </div>
        </div>
    </div>
</body>
</html>