.all-task_top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .all-tasks-title {
    margin: 0;
    font-size: 1.5em; 
    line-height: 1; 
  }
  
  .add-task-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .all-tasks {
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
.all-tasks_controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .filter-btn {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-btn.active {
    background-color: #646cff;
    color: white;
  }