body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 495;
  font-style: normal;
}

h1 {
  font-size: 28px;
  margin: 0;
  padding: 10px;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight:700;
  font-style: normal;
}
#root {
  height: 100%;
}